defaults:
  - _self_
  - ./@compression_config.naive_compression_config: prune
  # - override compression_config.naive_compression_config.compression_config.normalizer_kwargs.norm_order: []

init_config:
  _target_: "src.block_diag_compress_opt.BlockwiseLinearOpt"
  verbose: False

compression_config:
  permutation_config:
    block_size: 32
    importance_weight: "hessianDiag"
    low_rank: 0


  optimizer_config:
    _target_: "torch.optim.AdamW"
    lr: 0.0001
    # weight_decay: 0.001

  training_config:
    n_iters: 50
    loss_atol: 1e-8
    loss_rtol: 1e-6
    overall_patience: 5
    permutation_acceptance_rtol: 1e-3
    # logging_path: "/data/lliu/PermPrune/test/permute.txt"
    plotting_path: "/data/lliu/PermPrune/test/permute.png"
    save_path: "/data/lliu/PermPrune/test/permute_{iter}.pt"
    save_freq: 10

  normalizer_kwargs:
    norm_order: [0, 1]
    zero: [False, False]
    p: 2



