defaults:
  - _self_
  - ./@compression_config.naive_compression_config: vq 
  # - override compression_config.naive_compression_config.compression_config.normalizer_kwargs.norm_order: []

init_config:
  _target_: "src.permute_compress.PermutedLinear"
  verbose: False

compression_config:
  permutation_config:
    n_permutations_0: 8
    n_permutations_1: 8
    importance_weight: "hessianDiag"
    low_rank: 0


  optimizer_config:
    _target_: "torch.optim.Adam"
    lr: 0.0001

  training_config:
    n_iters: 200
    n_optimizer_steps_per_iter: 5
    n_permutation_changes_per_iter: 2
    n_naive_discrete_changes_per_iter: 10
    block_size_start: 32
    n_iters_start: -1
    block_size_end: 256
    loss_atol: 1e-8
    loss_rtol: 1e-6
    overall_patience: 5
    permutation_acceptance_rtol: 1e-3
    # logging_path: "/data/lliu/PermPrune/test/permute.txt"
    # plotting_path: "/data/lliu/PermPrune/test/permute.png"

  normalizer_kwargs:
    norm_order: []
    zero: [False, False]
    p: 2




