method: "Permute"

kwargs:
  SparseSparse_config:
    n_sparse_0_mult: 16.0
    n_sparse_1_mult: 16.0
    importance_weight: "hessianDiag"
    block_size: 32
    sparse_cfg:
      frac_sparse: 0.5
      pattern: [4, 8]

  optimizer_config:
    _target_: "torch.optim.Adam"
    lr: 1e-4

  training_config:
    n_iters: 800
    n_optimizer_steps_per_iter: 5
    n_sparse_change_per_iter: 1
    n_warmup_optimizer_steps: -1
    early_stop_atol: 1e-8
    early_stop_rtol: 1e-6
    loss_atol: 1e-8
    loss_rtol: 1e-6
    overall_patience: 5
    optimizer_patience: 10
    sparse_acceptance_rtol: 1e-5
    logging_path: "/data/lliu/NoWAG/test/SparseSparse.txt"
    plotting_path: "/data/lliu/NoWAG/test/SparseSparse.png"
    mask_kwargs: 
      add_noise: False
      return_hard: False

  # scheduler_config:
  #   _target_: "pl_bolts.optimizers.lr_scheduler.LinearWarmupCosineAnnealingLR"
  #   warmup_epochs: 100
  #   max_epochs: 1000
  #   warmup_start_lr: 0.0001
  #   eta_min: 1e-5
  normalizer_kwargs:
    norm_order: [0,1]
    zero: [False, False]
    p: 2




